body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.home{
    background-position: initial;
    background-repeat: no-repeat;
    width: 800px;
    height: 835px;
    display: flex;
    text-align: center;
}
.centred{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size:xx-large;
}

.car-list {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

.car {
    width: calc(20% - 20px);
    margin: 10px;
    float: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 100px;
}
.car-details {
    margin-top: 10px;
  }

  .car-details h3 {
    margin: 5px 0;
  }

  .car-details p {
    margin: 5px 0;
  }

.car img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.contact-section {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

.contact-details {
    margin-top: 20px;
}

.contact-details p {
    margin: 5px 0;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}